<log4net>
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<!-- Pattern to output the caller's file name and line number -->
			<conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
		</layout>
	</appender>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <!--文件输出目录-->
    <param name="File" value=".\logs\" />
    <!--是否覆盖-->
    <appendToFile value="true"/>
    <!--名称是否可以更改 为false为可以更改-->
    <param name="StaticLogFileName" value="false"/>
    <!--文件名称-->
    <param name="DatePattern" value="&quot;Request_&quot;yyyyMMdd&quot;.log&quot;"/>
    <param name="RollingStyle" value="Date"/>
    <!--切割最多文件数-->
    <param name="MaxSizeRollBackups" value="14" />
    <!--每个文件大小-->
    <param name="MaximumFileSize" value="5MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>